body{
   background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
  
}
.menu{
	list-style:none;
	position: absolute;
	top: 10px;
	right: 30px;
    cursor: pointer;
	z-index: 10;
	font-family: 'Roboto Mono', monospace;
}
.link{
	padding-bottom: 5px;
	padding-top:5px;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
	font-size: 15px;
}
.link:hover{
	background-color: darkkhaki;
}